@font-face {
    font-family: "main";
    src: url("/Pink-Flare/assets/fonts/font1.ttf");
}

@font-face {
    font-family: "digital";
    src: url("/Pink-Flare/assets/fonts/font-445153ca-d1f5-4c24-9d71-080146a71e01.ttf");
}

@font-face {
    font-family: "heading";
    src: url("/Pink-Flare/assets/fonts/font-90755dae-4e8a-4012-9050-cab0c59eb72e.ttf");
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    user-select: none;
}

.main {
    width: 100%;
    /* height: 100%; */
    /* overflow-x: hidden; */

}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* background-color: red; */
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1.1);
    z-index: -1; */
}

.home .circle {
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    /* background-color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow-x: hidden; */
}

.circle img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.top {
    position: absolute;
    width: 100%;
    height: 100%;

    /* background-color: red; */
    transform: rotate(180deg);

}

.bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.top img:nth-child(1) {
    transform: translate(-50%, -50%) scale(2.5);
}

.top img:nth-child(2) {
    transform: translate(-50%, -50%) scale(1.6);
}

.top img:nth-child(3) {
    transform: translate(-50%, -50%) scale(1.1);
}

.bottom img:nth-child(1) {
    transform: translate(-50%, -50%) scale(2.5);
}

.bottom img:nth-child(3) {
    transform: translate(-50%, -50%) scale(1.1);
}

.bottom img:nth-child(2) {
    transform: translate(-50%, -50%) scale(1.6);
}

#overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.semicircle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 34vw;
    height: 34vw;
    border-radius: 50%;
}

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 99;
    margin-top: 17px;
    padding: 10px 50px;
}

.navbar h1 {
    font-family: main;
    text-transform: uppercase;
    font-size: 1.2vw;
    line-height: 1;
    color: #515051e8;

}

.rnbtm,
.rnbtm1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.rnbtm,
.rnbtm1 span {
    font-size: 15px;
    font-family: digital;
    color: #515051;
}

.rntop {
    display: flex;
    align-items: center;
}

.rntop .box {
    height: 15px;
    width: 15px;
    /* background-color: aqua; */
}

.rntop .box:nth-child(6) {
    background-color: #313131;
}

.rntop .box:nth-child(5) {
    background-color: #595859;
}

.rntop .box:nth-child(4) {
    background-color: #818080;
}

.rntop .box:nth-child(3) {
    background-color: #adacac;
}

.rntop .box:nth-child(1) {
    background-color: #eaeaeb;
}

.rntop .box:nth-child(2) {
    background-color: #d7d6d7;
}

.btm-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 99;
    top: 90%;
    /* margin-top: 17px; */
    padding: 0px 50px;
    padding-bottom: 15px;
}

.btm-nav img {

    height: 70px;
    width: 100px;
    margin-bottom: 25px;
    /* color: #fff; */
}

.btmn-title {
    text-transform: uppercase;
    font-size: 12vw;
    position: absolute;
    font-family: heading;
    left: 50%;
    bottom: -3.5%;
    z-index: 9999;
    /* margin-top: 15vh; */
    transform: translate(-50%);
    font-weight: 500;
    /* letter-spacing: -5px; */
    color: #515051e8;
}

.overlay-box {
    width: 30vw;
    position: absolute;
    z-index: 99;
    left: 90%;
    top: 45%;
    transform: translate(-50%, -50%);

}

.overlay-box h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: main;
    color: #515051e8;
    margin-bottom: 10px;
}
.overlay-box h5 a{
    text-transform: uppercase;
    font-weight: 600;
    font-family: main;
    margin-bottom: 10px;
    color: #515051e8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.overlay-box h5 a:hover{
    -webkit-text-stroke: 0.1px #D5A7B4;
}


.overlay-box .center-img {
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.center-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}


.second {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}

.small-circle {
    background-color: #D5A7B4;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pf {
    text-transform: uppercase;
    font-size: 12vw;
    position: absolute;
    font-family: main;
    text-wrap: nowrap;
    left: 50%;
    bottom: -150%;
    z-index: 9999;
    /* margin-top: 15vh; */
    transform: translate(-50%) rotate(30deg);
    transform-origin: 0% 50%;
    font-weight: 900;
    /* letter-spacing: -5px; */
    color: #fff;
}

.pink-box {
    position: absolute;
    left: 0;
    top: 120%;
    width: 30vw;
    height: 70vh;
    background-color: #D5A7B4;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 20vh;
    padding: 2vw;
    color: #fff;
}

.pbox-btm {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.pink-box .btw {
    margin-top: 15vh;
    margin-left: 5vw;
    text-transform: uppercase;
    font-family: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 15vh;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    /* width: 100%; */
}

.btw-left {
    margin-left: -3vw;
}

.year {
    font-family: digital;
    font-size: 20px;
    font-weight: 550;
}

.pbox-btm h2 {
    font-family: digital;
    font-weight: 500;
    font-size: 30px;
}

.pbox-btm h2 sup {
    font-family: main;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}


.stop {
    width: 100%;
    height: 65%;
    /* background-color: #b41341; */
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #dadada;
}

.btm-stop {
    width: 100%;
    height: 35%;
    position: relative;
    /* background-color: #595859; */
}

.second-circle {
    height: 18vw;
    width: 18vw;
    /* background-color: #fff; */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

.pur {
    left: 45%;
    background: linear-gradient(to right, #d5a7b4, #d5a7b4);
    z-index: 10;
}

.pin {
    left: 55%;
    background-color: #b5abd5;

}

.btm-stop p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    line-height: 1;
    font-family: main;
    font-weight: 900;
    color: #515051e8;
    text-transform: uppercase;
    text-align: center;

}

.btm-stop p:nth-child(3) {
    opacity: 0;
}

.grand-txt {
    position: absolute;
    bottom: 0%;
    line-height: 0.7;
    font-size: 28vw;
    left: 100%;
    font-family: main;
    font-weight: 100;
    z-index: 999;
    color: #fff;
    text-transform: uppercase;
}

.small-box {
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
    /* background-color: #eb0000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.small-box .h11 {
    font-family: digital;
    font-size: 5vw;
    color: #515051e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-transform: uppercase;
    /* margin-bottom: 0px; */
}

.small-box .h12 {
    font-family: digital;
    font-size: 5vw;
    color: #515051e8;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-transform: uppercase;
    /* margin-bottom: 0px; */
}

.rectangles{
    position: absolute;
   width: 100%;
    height: 100%;
    display: flex;
   /* background-color: red; */
   top: 0%;
   left: 0;
   
}
.rectangle{
    z-index: 99999;
    width: 20%;
    height: 100%;
    top: 150%;
    /* background-color: #D5A7B4; */
    position: relative;
    /* border: 1px solid #fff; */
}
.rect1{
    background-color: #dfb1be;
}
.rect2{
    background-color: #e9bbc8;
}

.rect3{
    background-color: #f3c5d2;
}
.rect4{
    background-color: #fdcedd;
}
.rect5{
    background-color: #fee3f1;
}

a{
    text-decoration: none;
    color: #fff;
}
.rectangle .outer-box{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40%;
    z-index: 99;
    /* border: 1px solid #fff; */
    background-color: inherit;
}

.rectangle .outer-box .inner-box{
    background-color: inherit;
    /* border: 1px solid #fff; */
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
}
/* .bt-nv img{
    margin-bottom: 15vh;
} */

.foot{
    width: 100%;
    height: 10vh;
    /* margin-inline: auto; */
    padding-inline: 10%;
    display: flex;
    align-items: center;
    background: linear-gradient(to right , #d5a7b4  ,#b5abd5);
    justify-content: space-between;
    /* background-color: #313131; */
    /* margin-left: auto; */

}
.foot-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;
}
.foot-social a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.foot_social_link i{
   cursor: pointer;
    font-size: 2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
.foot-social i:hover {
    transform: scale(1.2) rotate(360deg);
    /* text-shadow: pink; */
    /* background: linear-gradient(to right , #d5a7b4  ,#b5abd5); */
    /* transform: rotate(180deg); */
}

.foot p{
    font-family: main;
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
}
.foot p a{
    text-decoration: none;
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
.foot p span{
    font-size: 2vw;
}

.foot p span:hover {
    transform: scale(2);
    font-size: 2.5vw;
    color: red;
}
 .foot p  a:hover{
    transform: scale(1.5);
    color: transparent;
    -webkit-text-stroke: 0.1px #fff ;
}

@media screen and (max-width: 600px) {
    .navbar h1 {
        font-size: 4vw;
    }

    .navbar {
        padding: 10px 35px;
    }

    .overlay-box h5 {
        margin-bottom: 6px;
    }

    .overlay-box {
        width: 70vw;
        left: 95%;
    }

    .overlay-box .center-img {
        height: 170px;
    }

    .btm-nav {
        padding: 0px 35px;
    }

    .rntop .box {
        height: 10px;
        width: 10px;
        /* background-color: aqua; */
    }

    .btm-nav img {
        height: 50px;
        width: 80px;
    }

    .pink-box {
        width: 80vw;
        height: 40vh;
        /* top: 0; */
        padding: 2vw;
    }

    .overlay {
        overflow: hidden;
        width: 100%;
        height: 100vh;
    }

    .btmn-title {
        font-size: 14vw;
        bottom: 14.5%;
    }

    .pink-box .btw {
        margin-top: 10vh;
        height: 10vh;
        font-size: 10px;
        font-weight: 400;

    }

    .year {

        font-size: 15px;
    }


    .pbox-btm h2 {
        font-size: 20px;
    }

    .pbox-btm h2 sup {
        font-size: 8px;
        font-weight: 600;
    }

    .small-circle {
        /* background-color: #D5A7B4; */
        height: 20vw;
        width: 20vw;
    }

    .home .circle {
        width: 110vw;
        height: 110vw;
    }

    .semicircle {
        height: 68vw;
        width: 68vw;
    }

    .second-circle {
        height: 40vw;
        width: 40vw;
    }

    .pur {
        left: 40%;
    }

    .pin {
        left: 60%;
    }

    .grand-txt {
        font-size: 50vw
    }

    .btm-stop p {
        font-size: 5vw
    }

    .home img {
        object-fit: fill;
    }

    .stop {
        height: 60%;
    }

    .btm-stop {
        height: 40%;
    }
    .foot{
        height: 7vh;

    }
    .foot p{
        font-size: 2vw;
    }

    .foot p span {
        font-size: 3vw;
    }

    .foot p span:hover {
        transform: scale(2);
        font-size: 5vw;
        color: red;
    }

    .foot_social_link i{
        font-size: 4vw;
    }

    .top img:nth-child(3),
    .bottom img:nth-child(3) {
        transform: translate(-50%, -50%) scale(1);
    }

    /* .rnbtm span, .rnbtm1 span {
        font-size: 3vw;
    }
    
    .btm-nav h2 {
        font-size: 5vw;
    }
    .btm-stop p {
        font-size: 5vw;
    }
    .grand-txt {
        font-size: 20vw;
    } */

}

@media (min-width: 601px) and (max-width: 1100px) {
    .pink-box {
        width: 60vw;
        height: 40vh;
        /* top: 0; */
        padding: 2vw;
    }

    .home .circle {
        height: 85vw;
        width: 85vw;
    }

    .semicircle {
        height: 58vw;
        width: 58vw;
    }

    .overlay-box {
        width: 45vw;
    }
    .small-circle {
    height: 15vw;
    width: 15vw;}

    .btmn-title {
        bottom: 12.5%;
    }


    .pink-box .btw {
        margin-top: 10vh;
        height: 10vh;
        font-size: 15px;
        font-weight: 400;
    }
    .second-circle {
    height: 30vw;
    width: 30vw;}
    .grand-txt{
        font-size: 35vw;
    }
}